<div class="container">
    <div class="row">
      <div class="create-subreddit-container">
        <form class="post-form" [formGroup]="createSubredditForm" (ngSubmit)="createSubreddit()">
          <div class="form-group">
            <div class="create-subreddit-heading">Create Subreddit</div>
            <hr />
            <div>
            <input type="text" [formControlName]="'title'" class="form-control" style="margin-top: 5px"
              placeholder="Title">
              <span *ngIf="!createSubredditForm.get('title').valid && createSubredditForm.get('title').touched">
                Please provide a title
             </span> 
            </div> 
            <div>
            <textarea type="text" [formControlName]="'description'" style="width: 100%; margin-top: 5px"
              placeholder="Description"></textarea>
              <span *ngIf="(!createSubredditForm.get('description').valid && createSubredditForm.get('description').touched  )|| click.btnCreateSubreddit">
                Please provide a description
             </span> 
              
            </div>
            <div>
              <div style="margin-top: 5px" class="float-right">
                <button (click)="discard()" class="btnDiscard">Discard</button>
                <button class="btnCreateSubreddit">Create</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      
    </div>
  </div>
